@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

:root {
  --gradiente-fondo: radial-gradient(circle,rgba(0, 150, 199, 1) 0%, rgba(0, 119, 182, 1) 100%);
  --color-claro: #00B4D8;
  --color-semiclaro: #0096C7;
  --color-medio: #0077B6;
  --color-oscuro: #023E8A;
  --color-fuerte: #03045E;
  --color-fuente: whitesmoke;
}

* {
    font-family: 'Quicksand';
    color: var(--color-fuente);
}

body {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  background: var(--color-semiclaro);
  background: var(--gradiente-fondo);
}

/* =======================
    NAVBAR 
   ======================= */
nav {
    background-color: var(--color-oscuro);
    /* azul oscuro */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* hace responsive los links */
    padding: 10px;
}

nav .nav-link, .navbar-brand {
    color: white !important;
    text-decoration: none;
    margin: 5px 15px;
    /* espacio entre links */
    font-weight: normal;
    font-size: larger;
    transition: color 0.3s;
}

nav .nav-link:hover {
    color: #00bfff !important;
    /* azul claro al pasar mouse */
}

nav .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    /* marca el link activo */
}


/* Contenedor del buscador */
.contenedor-buscador {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.contenedor-buscador input {
  padding: 10px;
  width: 60%;
  border-radius: 8px;
  border: none;
}

.contenedor-buscador button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #0f3443;
  color: white;
  cursor: pointer;
}

/* Lista de géneros */
.lista-generos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px;
}

.genero {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.genero:nth-child(1) { background: linear-gradient(to right, #00c6ff, #0072ff); }
.genero:nth-child(2) { background: linear-gradient(to right, #ff6a88, #ff99ac); }
.genero:nth-child(3) { background: linear-gradient(to right, #00ff87, #60efff); }
.genero:nth-child(4) { background: linear-gradient(to right, #f7971e, #ffd200); }
.genero:nth-child(5) { background: linear-gradient(to right, #7f00ff, #e100ff); }
.genero:nth-child(6) { background: linear-gradient(to right, #00c6ff, #0072ff); }
.genero:nth-child(7) { background: linear-gradient(to right, #ffafbd, #ffc3a0); }
.genero:nth-child(8) { background: linear-gradient(to right, #ff416c, #ff4b2b); }

/* Resultados */
#resultados {
  margin: 30px;
  padding: 20px;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

#resultados iframe {
  display: block;
  margin: 15px auto;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  height: 280px;
}